services:
  awg-mesh-node:
    image: {{.Image}}
    network_mode: host
    restart: always
    cap_add:
      - NET_ADMIN
      - NET_RAW
    sysctls:
      net.ipv4.ip_forward: "1"
    environment:
      - MESH_TOKEN={{.Token}}
      - MESH_MODE=endpoint
      - MESH_OVERLAY_IP={{.OverlayIP}}
      - MESH_LISTEN_PORT={{.ListenPort}}
    volumes:
      - /etc/awg-mesh:/etc/awg-mesh
      - /var/lib/awg-mesh:/var/lib/awg-mesh